name: run rspec
on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
jobs:
  test:
    strategy:
      matrix:
        rails_version:
          - ~>5.1.0
          - ~>5.2.0
          - ~>6.0.0
          - ~>6.1.0
        ruby_version:
          - 2.4
          - 2.5
          - 2.6
          - 2.7
          - 3.0
        exclude:
          - rails_version: ~>6.0.0
            ruby_version: 2.4
          - rails_version: ~>6.1.0
            ruby_version: 2.4

    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: setup ruby
        uses: actions/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby_version }}

      - name: bundle install
        env:
          RAILS_VERSION: ${{ matrix.rails_version }}
        run: |
          gem install bundler
          bundle install

      - name: run rspec
        run: bundle exec rspec
